body {
    background-color: white;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: calc(1.3em + 0.25vw);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}

section {
    max-width: 50%;
    margin: 20px auto;
    padding: 10px;
}

section p {
    text-align: left;
}

h2 {
    color: #E95923;
    cursor: pointer;
    text-align: left;
    padding-left: -10px;
}

h2 .arrow {
    margin-left: 10px;
}

a {
    color: #E95923;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

a:hover {
    color: white;
    background-color: #FD9046;
}

a:visited {
    color: #FFBBA1;
}

ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    width: calc(50% - 10px); /* subtract half of the gap */
    margin-bottom: 20px;
    list-style-type: none; /* Add this */
}

li {
    width: calc(50% - 10px); /* subtract half of the gap */
    display: flex;
    justify-content: space-between;
    align-items: center; /* New property to align items along the center y-axis */
    margin-bottom: 20px;
}

li > div {
    text-align: center;
}

img {
    margin-top: 25px;
    max-width: 80%;
    height: auto;
}

.collapsed ul {
    display: none;
}

