body {
    background-color: white;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: calc(1.3em + 0.3vw);
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}

section {
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
}

section p {
    text-align: left;
    font-size: 1.3em;
}

h2 {
    color: #E95923;
    cursor: pointer;
    text-align: left;
    padding-left: -10px;
}

h2 .arrow {
    margin-left: 10px;
}

a {
    color: #E95923;
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    display: block;
    flex: 1;
    margin-bottom: 25px;
    align-self: start;
    width: 100%;
}

a:hover {
    color: white;
    background-color: #FD9046;
}

a:visited {
    color: #FFBBA1;
}

ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

li > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

li > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.collapsed ul {
    display: none;
}